body{
    background: white;
    color: black;
}
*{
    margin: 0;
    padding: 0;
}
.img1{
    margin-left: 753px;
}
.logo{
    display: flex;
    padding: 355px;
    justify-content: space-evenly;
    margin-left: -633px;
    margin-top: -843px;
}

.logo1{
    margin-left: 23px;
}
.btn1{
    background: none;
    border: none;
    font-weight: 700;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}
.btn2{
    color: white;
    background: black;
    width: 75px;
    height: 50px;
    border: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}
.header-content{
    margin-top: -253px;
    margin-left: 85px;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}
.header-content h1{
   
    padding-bottom: 10px;
}
.header-content h2{
    
    padding-bottom: 55px;
    margin-left: -2px;
    color: darkgray;
}
.header-content input{
    width: 485px;
    height: 50px;
    border-color: black;
   
    
}
.header-content button{
    background-color: orange;
    height: 55px;
    width: 105px;
    font-weight: bold;
    border-color: orange;
    color: azure;
    font-size: 17px;
    
   
}
.hc2{
    padding-top: 35px;
    color: gray;
}
.hc2 p{
    padding-top: 30px;
    color: gray;
}
.header2{
    width: 1349px;
    height: 362px;
    background-color: rgb(68, 43, 43);
    color:white;
  
}
.header21{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 58px;

}
.para1{
    margin-top: 225px;
    margin-left: -414px;
    font-size: 22px;
    font-weight: 600;
}
.para2{
    margin-top: 274px;
    margin-left: -450px;
    font-size: 15px;
    font-weight: 600;
}
.header3{
    margin-left: 577px;
   
}
.headpara{
color: black;
margin-top: -337px;
 margin-left: 149px;
 font-family: ProximaNova,arial,Helvetica Neue,sans-serif;

}
.headpara h1{
    font-size: 38px;
}
.headpara p{
    padding-top: 27px;
    font-size: 18px;
    color: darkgray;
}
.playstore{
    padding-top: 38px;
    padding-left: 126px;
    cursor: pointer;
    display: flex;
}
.playstore img{
    padding-left: 20px;
}
.final{
    background: black;
    color: darkgrey;
    width: 100%;
    height: 447px;
    margin-top: 76px;
    font-size: 18px;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    
}
.final table{
    margin-left: 110px;
    align-items: center;
}
.playstore2{
    margin-left: 1008px;
    margin-top: -358px;
    display: grid;
    align-content: center;
    justify-items: center;
}
.playstore2 img{
    padding-top: 20px;
}
.atri{
    color: white;
    text-decoration: none;
}

